
/* U-R*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* HEADER */
.header{
    background-color:  rgb(11, 96, 233);
    min-height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
/* SET NAV BAR*/
.nav-bar{
    display: flex;  
    align-items: center;
}
/* STILYING LIST AND USING GAP*/
.deco {
    display: flex;
    justify-content: center;
    gap: 10px;
}
/* LIST STYLE*/
ul li {
    list-style: none;
}
/* COLOR AND TEXT DECO */
a{
    color: black;
    text-decoration: none;
    color: white;
    
}
/* DOTTED BORDER*/
.space {
    min-height: 70px;
    width: 500px;
    padding: 15px;
}
/*  TO LOGIN */
.login{
    display: flex;
    justify-content: flex-end;
}
.link-color{
    color: black;
    background-color: white;
    border-top: 10px solid white;
    width: 80px;
    border-radius: 25px;
    text-align: center;
}
/* SECTION 1 */
.section-1{
    background-image: url(../img/jumbo.png);
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.box-1{
    width: 1000px;    
    align-self: center;
}
h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 30px;
}
.paragraph-1{
    color: white;
    line-height: 30px;
    font-size: 1.2rem  ;
    padding: 30px;
}
.scarica-apri{
    display: flex;
    justify-content: center;   

}
.scarica{
    background-color: white;
    margin: 10px;
    padding-top: 20px;
    font-size: 20px;
    width: 250px;
    height: 70px;
    text-align: center;
    border-radius: 25px;
    
}
.apri{
    background-color: black;
    margin: 10px;
    padding-top: 20px;
    font-size: 18px;
    width: 300px;
    height: 70px;
    text-align: center;
    border-radius: 25px;
}
.link-color-2{
    color: black;
}
span{
    padding: 10px;
    font-size: 25x;
}
/* SECTION 2 */
.section-2{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 40px 250px;

}
.box-2-1{
    min-height: 500px;
    
}
.box-2-2{
    width: 500px;
    min-height: 100px;  
}
h2{
    font-size: 2.8rem;
    line-height: 1;
    margin-top: 40px;
}
.paragraph-2{
    color: black;
    line-height: 30px;
    margin-top: 40px;
}

/*  SECTION 3 */
.section-3{
    background-color: rgb(241, 239, 239);
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    padding: 100px;
}
.box-3-1{
    width: 400px;
    min-height: 200px;   
    }
.box-3-2{
    width: 400px;
    min-height: 200px;
    
    }

/* SECTION 4 */ 
.section-4{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;

}
.box-4-1{
    width: 400px;
    min-height: 200px;   
    flex-grow: 0.5;
}
.box-4-2{
    width: 300px;
    min-height: 200px;  
}
    

/* SECTION 5 */
.section-5{
    background-color: grey;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.box-5{
    background-color: green;
    width: 1000px;
    min-height: 300px; 
    text-align: center;
    
}

/* SECTION 6 */
.section-6{
    background-color: rgb(33, 31, 31);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}
.section-6-1{
    background-color: orangered;
    height: 200px;
    width: 100px;
    border:1px dashed black;
    flex-grow: 0.1;
}
.section-6-2{
    background-color: rgb(75, 184, 142);
    height: 200px;
    width: 100px;
    border: 1px dashed white;
}
.section-6-3{
    background-color: rgb(75, 184, 142);
    height: 200px;
    width: 100px;
    border: 1px dashed white;
}
.section-6-4{
    background-color: rgb(75, 184, 142);
    height: 200px;
    width: 100px;
    border: 1px dashed white;
}
.section-6-5{
    background-color: rgb(75, 184, 142);
    height: 200px;
    width: 100px;
    border: 1px dashed white;
}



/* FOOTER */
.footer{
    background-color: black;
    min-height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;

    }
.box-footer{
    background-color: rgb(85, 168, 127);
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 20px;
    width: 500px;
    display: flex;
    justify-content:space-between
}
.logo-footer{
    background-color: salmon;
    border: 2px dashed black;
    padding: 2px;
}
.btn-footer{
    background-color: salmon;
    border: 2px dashed black;
    padding: 2px;
}